[flake8]
# B008: Do not perform function calls in argument defaults
# D100: Missing docstring in public module
# D101: Missing docstring in public class
# D102: Missing docstring in public method
# D103: Missing docstring in public function
# D104: Missing docstring in public package
# D106: Missing docstring in public nested class
# Q000: Double quotes found but single quotes preferred
# S104: Possible binding to all interfaces
# WPS306: Found class without a base class
# WPS404: Found complex default value
ignore = B008, D100, D101, D102, D103, D104, D106, I001, Q000, S104, WPS306, WPS348, WPS404
max-line-length = 88

# Exclude some directories from flake8
# __init__.py files are excluded by default
exclude = .git, .idea, .mypy_cache, .venv, .vscode, .migrations

nested-classes-whitelist = Config, Password, Username, CategoryName